body{
margin:0;
font-family:Segoe UI;
background:#eef1f7;
}

.sidebar{
width:220px;
height:100vh;
background:#0f172a;
color:white;
position:fixed;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
margin:10px 0;
background:#1e293b;
border-radius:8px;
}

.main{
margin-left:240px;
padding:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:rgba(255,255,255,0.6);
backdrop-filter:blur(10px);
border-radius:15px;
padding:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.charts{
margin-top:30px;
}